/* Responsive.less
 * Adjusted grid styles to handle some common screen sizes
 * ------------------------------------------------------- */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .container {
    width: 748px;
  }
  .row .span1 {
    width: 28px;
  }
  .row .span2 {
    width: 76px;
  }
  .row .span3 {
    width: 124px;
  }
  .row .span4 {
    width: 172px;
  }
  .row .span5 {
    width: 220px;
  }
  .row .span6 {
    width: 268px;
  }
  .row .span7 {
    width: 316px;
  }
  .row .span8 {
    width: 364px;
  }
  .row .span9 {
    width: 412px;
  }
  .row .span10 {
    width: 460px;
  }
  .row .span11 {
    width: 508px;
  }
  .row .span12 {
    width: 556px;
  }
  .row .span13 {
    width: 604px;
  }
  .row .span14 {
    width: 652px;
  }
  .row .span15 {
    width: 700px;
  }
  .row .span16 {
    width: 748px;
  }
  .row .offset1 {
    margin-left: 68px !important;
  }
  .row .offset1:first-child {
    margin-left: 48px !important;
  }
  .row .offset2 {
    margin-left: 116px !important;
  }
  .row .offset2:first-child {
    margin-left: 96px !important;
  }
  .row .offset3 {
    margin-left: 164px !important;
  }
  .row .offset3:first-child {
    margin-left: 144px !important;
  }
  .row .offset4 {
    margin-left: 212px !important;
  }
  .row .offset4:first-child {
    margin-left: 192px !important;
  }
  .row .offset5 {
    margin-left: 260px !important;
  }
  .row .offset5:first-child {
    margin-left: 240px !important;
  }
  .row .offset6 {
    margin-left: 308px !important;
  }
  .row .offset6:first-child {
    margin-left: 288px !important;
  }
  .row .offset7 {
    margin-left: 356px !important;
  }
  .row .offset7:first-child {
    margin-left: 336px !important;
  }
  .row .offset8 {
    margin-left: 404px !important;
  }
  .row .offset8:first-child {
    margin-left: 384px !important;
  }
  .row .offset9 {
    margin-left: 404px !important;
  }
  .row .offset9:first-child {
    margin-left: 384px !important;
  }
  .row .offset10 {
    margin-left: 500px !important;
  }
  .row .offset10:first-child {
    margin-left: 480px !important;
  }
  .row .offset11 {
    margin-left: 548px !important;
  }
  .row .offset11:first-child {
    margin-left: 528px !important;
  }
  .row .offset12 {
    margin-left: 596px !important;
  }
  .row .offset12:first-child {
    margin-left: 576px !important;
  }
}
@media only screen and (max-width: 767px) {
  .container {
    width: 300px;
  }
  .row .span1,
  .row .span2,
  .row .span3,
  .row .span4,
  .row .span5,
  .row .span6,
  .row .span7,
  .row .span8,
  .row .span9,
  .row .span10,
  .row .span11,
  .row .span12,
  .row .span13,
  .row .span14,
  .row .span15,
  .row .span16 {
    float: none;
    width: 300px;
    margin-left: 0;
  }
  .row .span1:first-child,
  .row .span2:first-child,
  .row .span3:first-child,
  .row .span4:first-child,
  .row .span5:first-child,
  .row .span6:first-child,
  .row .span7:first-child,
  .row .span8:first-child,
  .row .span9:first-child,
  .row .span10:first-child,
  .row .span11:first-child,
  .row .span12:first-child,
  .row .span13:first-child,
  .row .span14:first-child,
  .row .span15:first-child,
  .row .span16:first-child {
    margin-left: 0;
  }
  .row .offset1,
  .row .offset2,
  .row .offset3,
  .row .offset4,
  .row .offset5,
  .row .offset6,
  .row .offset7,
  .row .offset8,
  .row .offset9,
  .row .offset10,
  .row .offset11,
  .row .offset12 {
    margin-left: 0 !important;
  }
  .row .offset1:first-child,
  .row .offset2:first-child,
  .row .offset3:first-child,
  .row .offset4:first-child,
  .row .offset5:first-child,
  .row .offset6:first-child,
  .row .offset7:first-child,
  .row .offset8:first-child,
  .row .offset9:first-child,
  .row .offset10:first-child,
  .row .offset11:first-child,
  .row .offset12:first-child {
    margin-left: 0 !important;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 420px;
  }
  .row .span1,
  .row .span2,
  .row .span3,
  .row .span4,
  .row .span5,
  .row .span6,
  .row .span7,
  .row .span8,
  .row .span9,
  .row .span10,
  .row .span11,
  .row .span12,
  .row .span13,
  .row .span14,
  .row .span15,
  .row .span16 {
    float: none;
    width: 420px;
    margin-left: 0;
  }
  .row .span1:first-child,
  .row .span2:first-child,
  .row .span3:first-child,
  .row .span4:first-child,
  .row .span5:first-child,
  .row .span6:first-child,
  .row .span7:first-child,
  .row .span8:first-child,
  .row .span9:first-child,
  .row .span10:first-child,
  .row .span11:first-child,
  .row .span12:first-child,
  .row .span13:first-child,
  .row .span14:first-child,
  .row .span15:first-child,
  .row .span16:first-child {
    margin-left: 0;
  }
  .row .offset1,
  .row .offset2,
  .row .offset3,
  .row .offset4,
  .row .offset5,
  .row .offset6,
  .row .offset7,
  .row .offset8,
  .row .offset9,
  .row .offset10,
  .row .offset11,
  .row .offset12 {
    margin-left: 0 !important;
  }
  .row .offset1:first-child,
  .row .offset2:first-child,
  .row .offset3:first-child,
  .row .offset4:first-child,
  .row .offset5:first-child,
  .row .offset6:first-child,
  .row .offset7:first-child,
  .row .offset8:first-child,
  .row .offset9:first-child,
  .row .offset10:first-child,
  .row .offset11:first-child,
  .row .offset12:first-child {
    margin-left: 0 !important;
  }
}

/* End responsive.less */
/* Begin styles for example/index.html */
	
html,body{
	background:url('../images/quilt.png');
	background-attachment:fixed;
}

.container h2,
.container h1{
	text-align:center;
}

.container.storagejs{
    padding-top:15px;
	text-align:center;
}

.container .buttons{
	margin:0 auto;
}

.container h2.future{
	padding-bottom:35px;
}

.container .storagejs-header,
.example{
	margin-bottom:35px;
}

.container .buttons a:nth-child(2){
	margin-left:20px;
}

.container .storagejs-header h2.awesome{
	padding-top:20px;
}

code{
	font: 12px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
	color: #52595D;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #CCC;
	background-color: #F9F9F9;
	padding: 0px 3px;
	display: inline-block;
}


.example h2{
	text-align:left;
	margin-bottom:10px;
}

.usage{
	text-align:left;
}

.usage h2,
.usage h3{
	text-align:left;
}

.usage h3 span{
	font-style:2em;
}

.buttons .gitbuttons{
	margin-bottom:20px;
}

.buttons .siteButtons{
	margin-bottom:35px;
}

.storagejs-usage-header{
	margin-bottom:10px;
}

.storagejs-done-instructions{
	margin-top:10px;
}

code.instructions{
	margin-bottom:15px;
}

.buttons{
	text-align:left;
}

.usage{
	padding-bottom:15px;
}


h3.me-too{
	text-align:left;
}

.button {
        cursor: pointer;
        text-align: center;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        user-select: none;
}

ul {
	list-style-type:square;
}

#onStart{
	margin-top:30px;
	opacity: 0.5;
	-moz-opacity: 0.5;
	filter:alpha(opacity=50);
}

#onStartExit span{
	font-size:13px;
}

#revert{
	margin-top:40px;
}

#onStart,
#onExit,
#onStartExit{
	margin-bottom:15px;
}

.Three-Dee{
font-family: 'Helvetica Neue',Helvetica, sans-serif;
line-height: 1em;
color: #484848;
font-weight:bold;
font-size: 134px;
text-shadow:0px 0px 0 rgb(39,39,39),0px 1px 0 rgb(24,24,24),0px 2px 0 rgb(9,9,9),0px 3px 0 rgb(-6,-6,-6),0px 4px 0 rgb(-21,-21,-21),0px 5px 0 rgb(-36,-36,-36),0px 6px 0 rgb(-51,-51,-51), 0px 7px 0 rgb(-66,-66,-66),0px 8px 7px rgba(0,0,0,0.25),0px 8px 1px rgba(0,0,0,0.5),0px 0px 7px rgba(0,0,0,.2);}


@media only screen and (min-width: 768px) and (max-width: 959px) {
  .container {
    width: 748px;
  }
  .row .span1 {
    width: 28px;
  }
  .row .span2 {
    width: 76px;
  }
  .row .span3 {
    width: 124px;
  }
  .row .span4 {
    width: 172px;
  }
  .row .span5 {
    width: 220px;
  }
  .row .span6 {
    width: 268px;
  }
  .row .span7 {
    width: 316px;
  }
  .row .span8 {
    width: 364px;
  }
  .row .span9 {
    width: 412px;
  }
  .row .span10 {
    width: 460px;
  }
  .row .span11 {
    width: 508px;
  }
  .row .span12 {
    width: 556px;
  }
  .row .span13 {
    width: 604px;
  }
  .row .span14 {
    width: 652px;
  }
  .row .span15 {
    width: 700px;
  }
  .row .span16 {
    width: 748px;
  }
  .row .offset1 {
    margin-left: 68px !important;
  }
  .row .offset1:first-child {
    margin-left: 48px !important;
  }
  .row .offset2 {
    margin-left: 116px !important;
  }
  .row .offset2:first-child {
    margin-left: 96px !important;
  }
  .row .offset3 {
    margin-left: 164px !important;
  }
  .row .offset3:first-child {
    margin-left: 144px !important;
  }
  .row .offset4 {
    margin-left: 212px !important;
  }
  .row .offset4:first-child {
    margin-left: 192px !important;
  }
  .row .offset5 {
    margin-left: 260px !important;
  }
  .row .offset5:first-child {
    margin-left: 240px !important;
  }
  .row .offset6 {
    margin-left: 308px !important;
  }
  .row .offset6:first-child {
    margin-left: 288px !important;
  }
  .row .offset7 {
    margin-left: 356px !important;
  }
  .row .offset7:first-child {
    margin-left: 336px !important;
  }
  .row .offset8 {
    margin-left: 404px !important;
  }
  .row .offset8:first-child {
    margin-left: 384px !important;
  }
  .row .offset9 {
    margin-left: 404px !important;
  }
  .row .offset9:first-child {
    margin-left: 384px !important;
  }
  .row .offset10 {
    margin-left: 500px !important;
  }
  .row .offset10:first-child {
    margin-left: 480px !important;
  }
  .row .offset11 {
    margin-left: 548px !important;
  }
  .row .offset11:first-child {
    margin-left: 528px !important;
  }
  .row .offset12 {
    margin-left: 596px !important;
  }
  .row .offset12:first-child {
    margin-left: 576px !important;
  }
}
@media only screen and (max-width: 767px) {
  .container {
    width: 300px;
  }
  .row .span1,
  .row .span2,
  .row .span3,
  .row .span4,
  .row .span5,
  .row .span6,
  .row .span7,
  .row .span8,
  .row .span9,
  .row .span10,
  .row .span11,
  .row .span12,
  .row .span13,
  .row .span14,
  .row .span15,
  .row .span16 {
    float: none;
    width: 300px;
    margin-left: 0;
  }
  .row .span1:first-child,
  .row .span2:first-child,
  .row .span3:first-child,
  .row .span4:first-child,
  .row .span5:first-child,
  .row .span6:first-child,
  .row .span7:first-child,
  .row .span8:first-child,
  .row .span9:first-child,
  .row .span10:first-child,
  .row .span11:first-child,
  .row .span12:first-child,
  .row .span13:first-child,
  .row .span14:first-child,
  .row .span15:first-child,
  .row .span16:first-child {
    margin-left: 0;
  }
  .row .offset1,
  .row .offset2,
  .row .offset3,
  .row .offset4,
  .row .offset5,
  .row .offset6,
  .row .offset7,
  .row .offset8,
  .row .offset9,
  .row .offset10,
  .row .offset11,
  .row .offset12 {
    margin-left: 0 !important;
  }
  .row .offset1:first-child,
  .row .offset2:first-child,
  .row .offset3:first-child,
  .row .offset4:first-child,
  .row .offset5:first-child,
  .row .offset6:first-child,
  .row .offset7:first-child,
  .row .offset8:first-child,
  .row .offset9:first-child,
  .row .offset10:first-child,
  .row .offset11:first-child,
  .row .offset12:first-child {
    margin-left: 0 !important;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 420px;
  }
  .row .span1,
  .row .span2,
  .row .span3,
  .row .span4,
  .row .span5,
  .row .span6,
  .row .span7,
  .row .span8,
  .row .span9,
  .row .span10,
  .row .span11,
  .row .span12,
  .row .span13,
  .row .span14,
  .row .span15,
  .row .span16 {
    float: none;
    width: 420px;
    margin-left: 0;
  }
  .row .span1:first-child,
  .row .span2:first-child,
  .row .span3:first-child,
  .row .span4:first-child,
  .row .span5:first-child,
  .row .span6:first-child,
  .row .span7:first-child,
  .row .span8:first-child,
  .row .span9:first-child,
  .row .span10:first-child,
  .row .span11:first-child,
  .row .span12:first-child,
  .row .span13:first-child,
  .row .span14:first-child,
  .row .span15:first-child,
  .row .span16:first-child {
    margin-left: 0;
  }
  .row .offset1,
  .row .offset2,
  .row .offset3,
  .row .offset4,
  .row .offset5,
  .row .offset6,
  .row .offset7,
  .row .offset8,
  .row .offset9,
  .row .offset10,
  .row .offset11,
  .row .offset12 {
    margin-left: 0 !important;
  }
  .row .offset1:first-child,
  .row .offset2:first-child,
  .row .offset3:first-child,
  .row .offset4:first-child,
  .row .offset5:first-child,
  .row .offset6:first-child,
  .row .offset7:first-child,
  .row .offset8:first-child,
  .row .offset9:first-child,
  .row .offset10:first-child,
  .row .offset11:first-child,
  .row .offset12:first-child {
    margin-left: 0 !important;
  }
}